.rectangleDiv {
  position: absolute;
  top: -17px;
  left: -40px;
  background-color: #53acfe;
  width: 1498px;
  height: 118px;
}
.deny,
.sumbit {
  position: absolute;
  top: 948.66px;
  left: 326px;
}
.deny {
  top: 946.99px;
  left: 580px;
}
.toProceedWithTheExamConf {
  position: absolute;
  top: 906px;
  left: 302px;
  display: inline-block;
  width: 503px;
  height: 22.59px;
}
.screenshotFrom2022112217 {
  position: absolute;
  top: 101px;
  left: 161px;
  width: 732px;
  height: 803px;
  object-fit: cover;
}
.rectangleDiv1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e6e6e6;
  width: 379px;
  height: 923px;
  mix-blend-mode: darken;
}
.rectangleDiv2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f2f2f2;
  width: 372px;
  height: 358px;
}
.dummyUser123,
.participant123 {
  position: absolute;
  top: 244px;
  left: 103.88px;
  display: inline-block;
  width: 213.7px;
  height: 27px;
}
.dummyUser123 {
  top: 283px;
}
.screenshotFrom2022112218 {
  position: absolute;
  top: 39px;
  left: 94.88px;
  width: 177.1px;
  height: 201px;
  object-fit: cover;
}
.userInfo,
.userSecondBlock {
  position: absolute;
  top: 0;
  left: 0;
  width: 379px;
  height: 923px;
}
.userSecondBlock {
  top: 101px;
  left: 1068px;
  color: #000;
}
.page3 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 24px;
  color: #cd0000;
  font-family: Alatsi;
}
