.rectangleDiv,
.viewIn {
  position: absolute;
  top: 0;
}
.viewIn {
  left: 0;
  display: inline-block;
  width: 86px;
  height: 27px;
}
.rectangleDiv {
  left: 91px;
  border-radius: 4px;
  background-color: #d9d9d9;
  width: 117px;
  height: 36px;
}
.english {
  position: absolute;
  top: 5px;
  left: 107px;
  font-family: Akshar;
  display: inline-block;
  width: 68px;
  height: 27px;
}
.polygonIcon {
  position: absolute;
  top: 13px;
  left: 180.67px;
  width: 21.65px;
  height: 15px;
}
.rectangleDiv1,
.secondBlock {
  position: absolute;
  top: 112px;
  left: 1213px;
  width: 208px;
  height: 36px;
}
.rectangleDiv1 {
  top: 0;
  left: 0;
  background-color: #53acfe;
  width: 1440px;
  height: 101px;
}
.instructions,
.recruitmentOfJaipurAssociat,
.stateBankOfIndia {
  position: absolute;
  top: 0;
  left: 258px;
  text-decoration: underline;
  display: inline-block;
  width: 766px;
  height: 27px;
}
.instructions,
.stateBankOfIndia {
  top: 55px;
  left: 526px;
  width: 230px;
}
.instructions {
  top: 131px;
  left: 567px;
  width: 147px;
}
.theTextDisplayed {
  margin-bottom: 0;
}
.theTextDisplayedOnTheScre1 {
  margin: 0;
  padding-left: 35px;
}
.theTextDisplayedOnTheScre,
.thisIsTheDeclarationTheI {
  position: absolute;
  text-align: justify;
  display: inline-block;
  width: 1325px;
}
.theTextDisplayedOnTheScre {
  top: 186px;
  left: 0;
  font-size: inherit;
  font-family: inherit;
  height: 121px;
}
.thisIsTheDeclarationTheI {
  top: 624px;
  left: 20px;
  font-family: Alata;
}
.textSection {
  top: 221px;
  left: 79px;
  width: 1345px;
  height: 696px;
  font-size: 26px;
}
.div,
.noOfQs,
.textSection {
  position: absolute;
}
.noOfQs {
  top: 0;
  left: 0;
  font-family: Alatsi;
  text-align: left;
  display: inline-block;
  width: 104px;
  height: 27px;
}
.div {
  top: 70px;
}
.div,
.div1,
.div2 {
  left: 42px;
  display: inline-block;
  width: 39px;
  height: 35px;
}
.div1 {
  position: absolute;
  top: 113px;
}
.div2 {
  top: 160px;
}
.div2,
.div3,
.noOfQue {
  position: absolute;
}
.div3 {
  top: 206px;
  left: 38px;
  display: inline-block;
  width: 62px;
  height: 35px;
}
.noOfQue {
  top: 20px;
  left: 315.04px;
  width: 104px;
  height: 241px;
}
.durationForPDCandidatesEl,
.minutesForEveryHourOfExam {
  position: absolute;
  top: 0;
  left: 33px;
  display: inline-block;
  width: 414px;
  height: 36px;
}
.minutesForEveryHourOfExam {
  top: 118px;
  left: 0;
  font-family: Alata;
  text-align: justify;
  width: 447px;
  height: 74px;
}
.duration1,
.pD {
  position: absolute;
  top: 10px;
  left: 838.04px;
  width: 447px;
  height: 192px;
  text-align: left;
  font-family: Alatsi;
}
.duration1 {
  top: 0;
  left: 34px;
  display: inline-block;
  width: 103px;
  height: 36px;
}
.minutes,
.minutes1,
.minutes2 {
  position: absolute;
  top: 72px;
  left: 0;
  display: inline-block;
  width: 178px;
  height: 35px;
}
.minutes1,
.minutes2 {
  top: 115px;
}
.minutes2 {
  top: 162px;
}
.duration,
.maximumMarks1 {
  position: absolute;
  top: 18px;
  left: 616.04px;
  width: 178px;
  height: 197px;
}
.maximumMarks1 {
  top: 0;
  left: 0;
  font-family: Alatsi;
  text-align: left;
  display: inline-block;
  width: 128px;
  height: 27px;
}
.div4,
.div5,
.div6,
.div7 {
  position: absolute;
  top: 83px;
  left: 23px;
  display: inline-block;
  width: 39px;
  height: 35px;
}
.div5,
.div6,
.div7 {
  top: 126px;
}
.div6,
.div7 {
  top: 173px;
}
.div7 {
  top: 219px;
  left: 19px;
  width: 62px;
}
.maximumMarks,
.nameOfTheTest1 {
  position: absolute;
  top: 7px;
  left: 452.04px;
  width: 128px;
  height: 254px;
}
.nameOfTheTest1 {
  top: 0;
  left: 0;
  font-family: Alatsi;
  text-align: left;
  display: inline-block;
  width: 189px;
  height: 27px;
}
.englishAbility,
.numericalAbility,
.resoningAbility,
.total {
  position: absolute;
  top: 67px;
  left: 3px;
  display: inline-block;
  width: 207px;
  height: 35px;
}
.englishAbility,
.numericalAbility,
.total {
  top: 115px;
  left: 2px;
}
.englishAbility,
.total {
  top: 160px;
  left: 2px;
  width: 171px;
}
.total {
  top: 205px;
  width: 65px;
}
.nameOfTheTest {
  position: absolute;
  top: 20px;
  left: 91.04px;
  width: 210px;
  height: 240px;
}
.div8,
.div9,
.sNo1 {
  display: inline-block;
}
.sNo1 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: Alatsi;
  text-align: left;
  width: 62px;
  height: 27px;
}
.div8,
.div9 {
  width: 19px;
  height: 35px;
}
.div8 {
  position: absolute;
  top: 69px;
  left: 21px;
}
.div9 {
  top: 118px;
  left: 16px;
}
.div10,
.div9,
.sNo {
  position: absolute;
}
.div10 {
  top: 161px;
  left: 16px;
  display: inline-block;
  width: 19px;
  height: 35px;
}
.sNo {
  top: 17px;
  left: 10.04px;
  width: 62px;
  height: 196px;
}
.rectangleStructureIcon,
.tableInformation {
  position: absolute;
  top: 0;
  left: 0;
  width: 1321.06px;
  height: 269px;
}
.tableInformation {
  left: 1px;
}
.rectangleDiv2 {
  border: 1px solid #000;
  box-sizing: border-box;
}
.groupDiv,
.groupDiv1,
.rectangleDiv2,
.tabluarInfo {
  position: absolute;
  top: 0;
  left: 0;
  width: 1322px;
  height: 269px;
}
.groupDiv,
.tabluarInfo {
  width: 1322.06px;
}
.tabluarInfo {
  top: 538px;
  left: 67px;
  text-align: justify;
  font-size: 26px;
  font-family: Alata;
}
.rectangleDiv3 {
  position: absolute;
  top: 833px;
  left: -58px;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 1520px;
  height: 209px;
}
.rectangleDiv4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  background-color: #384fc7;
  width: 239px;
  height: 53px;
  mix-blend-mode: darken;
}
.iAmReadyToBegin {
  position: absolute;
  top: 9px;
  left: 21px;
  display: inline-block;
  width: 210px;
  height: 27px;
}
.sumbit {
  position: absolute;
  top: 952px;
  left: 632px;
  width: 239px;
  height: 53px;
  color: #fcfcfc;
}
.groupDiv2,
.rectangleButton {
  position: absolute;
  top: 0;
  left: 0;
}
.groupDiv2{
  width: 161px;
  height: 51px;
}
.previous {
  position: absolute;
  top: 100px;
  left: 54px;
  display: inline-block;
  width: 104px;
  height: 27px;
}
.groupIcon {
  position: absolute;
  top: 11px;
  left: 21.53px;
  width: 19.5px;
  height: 30.51px;
}
.nextToggle,
.rectangleDiv5 {
  position: absolute;
  cursor: pointer;
}
.nextToggle {
  top: 948px;
  left: 26px;
  width: 161px;
  height: 51px;
  font-size: 29px;
  font-family: Akshar;
}
.rectangleDiv5 {
  top: 845px;
  left: 38px;
  border-radius: 6px;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 45px;
  height: 40px;
}
.desktop7 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 24px;
  color: #000;
  font-family: Alatsi;
}
