.rectangleDiv,
.rectangleDiv1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #53acfe;
  width: 1440px;
  height: 101px;
}
.rectangleDiv1 {
  background-color: #e6e6e6;
  width: 372px;
  height: 923px;
  mix-blend-mode: darken;
}
.rectangleDiv2,
.rectangleDiv3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f2f2f2;
  width: 376px;
  height: 358px;
}
.rectangleDiv3 {
  top: 39px;
  left: 102px;
  background-color: #d9d9d9;
  width: 182px;
  height: 181px;
}
.dummyUser123,
.participant123 {
  position: absolute;
  top: 244px;
  left: 110px;
  display: inline-block;
  width: 159px;
  height: 27px;
}
.dummyUser123 {
  top: 283px;
  left: 105px;
  width: 176px;
}
.iconsuser {
  position: absolute;
  top: 42px;
  left: 110px;
  width: 166px;
  height: 164px;
  overflow: hidden;
}
.userInfo {
  position: absolute;
  top: 0;
  left: 313px;
  width: 376px;
  height: 923px;
  font-size: 24px;
  color: #000;
  font-family: Alatsi;
}
.rectangleDiv4 {
  border-radius: 4px;
  background-color: #53acfe;
  border: 1px solid #000;
  box-sizing: border-box;
}
.finish,
.groupDiv,
.rectangleDiv4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 161px;
  height: 51px;
}
.finish {
  top: 8px;
  left: 43px;
  display: inline-block;
  width: 73px;
  height: 27px;
}
.nextToggle {
  position: absolute;
  top: 829px;
  left: 413px;
  width: 161px;
  height: 51px;
}
.rectangleDiv5 {
  border-radius: 4px;
  background-color: #384fc7;
  border: 1px solid #000;
  box-sizing: border-box;
}
.groupDiv1,
.rectangleDiv5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 299px;
  height: 51px;
}
.markForAssignment {
  position: absolute;
  top: 8px;
  left: 32px;
  display: inline-block;
  width: 235px;
  height: 23px;
}
.nextToggle1 {
  position: absolute;
  top: 829px;
  left: 0;
  width: 299px;
  height: 51px;
}
.screenshotFrom2022112218 {
  position: absolute;
  top: 33px;
  left: 415px;
  width: 183px;
  height: 201px;
  object-fit: cover;
}
.userSecondBlock {
  position: absolute;
  top: 101px;
  left: 755px;
  width: 689px;
  height: 923px;
  font-size: 29px;
  color: #fff;
  font-family: Akshar;
}
.span {
  color: #ff0b0b;
}
.time2000 {
  top: 0;
  left: 0;
  display: inline-block;
  width: 150px;
}
.pageLayout,
.questionNo1,
.Text,
.time2000 {
  position: absolute;
  height: 27px;
}
.pageLayout {
  top: 119px;
  left: 852px;
  width: 150px;
  font-family: Alatsi;
}
.questionNo1 {
  top: 0;
  left: 10px;
  display: inline-block;
  width: 174px;
}
.Text{
  top: 20px;
  left: 10px;
  display: inline-block;
  width: 670px;
}
.lineDiv {
  position: absolute;
  top: 44px;
  left: -0.5px;
  border-top: 1px solid #000;
  box-sizing: border-box;
  width: 685.01px;
  height: 1px;
}
.pageLayout1,
.rectangleDiv6 {
  position: absolute;
  top: 177px;
  left: 361px;
  width: 684.01px;
  height: 44.5px;
}
.rectangleDiv6 {
  top: 222px;
  left: 23px;
  background-color: rgba(43, 42, 42, 0.74);
  width: 160px;
  height: 675px;
}
.rectangleDiv7,
.rectangleDiv8 {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 80px;
  height: 34px;
}
.rectangleDiv8 {
  left: 80px;
}
.groupDiv3,
.groupDiv4,
.groupDiv5,
.groupDiv6,
.groupDiv7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 34px;
}
.groupDiv4,
.groupDiv5,
.groupDiv6,
.groupDiv7 {
  top: 133px;
}
.groupDiv5,
.groupDiv6,
.groupDiv7 {
  top: 167px;
}
.groupDiv6,
.groupDiv7 {
  top: 201px;
}
.groupDiv7 {
  top: 235px;
}
.groupDiv10,
.groupDiv11,
.groupDiv12,
.groupDiv8,
.groupDiv9 {
  position: absolute;
  top: 269px;
  left: 0;
  width: 160px;
  height: 34px;
}
.groupDiv10,
.groupDiv11,
.groupDiv12,
.groupDiv9 {
  top: 303px;
}
.groupDiv10,
.groupDiv11,
.groupDiv12 {
  top: 337px;
}
.groupDiv11,
.groupDiv12 {
  top: 371px;
}
.groupDiv12 {
  top: 405px;
}
.groupDiv13,
.groupDiv14,
.groupDiv15,
.groupDiv16,
.groupDiv17 {
  position: absolute;
  top: 439px;
  left: 0;
  width: 160px;
  height: 34px;
}
.groupDiv14,
.groupDiv15,
.groupDiv16,
.groupDiv17 {
  top: 473px;
}
.groupDiv15,
.groupDiv16,
.groupDiv17 {
  top: 507px;
}
.groupDiv16,
.groupDiv17 {
  top: 540px;
}
.groupDiv17 {
  top: 574px;
}
.groupDiv18,
.groupDiv19,
.groupDiv20,
.groupDiv21,
.groupDiv22 {
  position: absolute;
  top: 608px;
  left: 0;
  width: 160px;
  height: 34px;
}
.groupDiv19,
.groupDiv20,
.groupDiv21,
.groupDiv22 {
  top: 641px;
}
.groupDiv20,
.groupDiv21,
.groupDiv22 {
  top: 99px;
}
.groupDiv21,
.groupDiv22 {
  top: 66px;
}
.groupDiv22 {
  top: 34px;
}
.q1 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.div,
.div1,
.div2,
.div3 {
  position: absolute;
  top: 0;
  left: 19px;
  display: inline-block;
  width: 46px;
  height: 27px;
}
.div1,
.div2,
.div3 {
  top: 1px;
  left: 98px;
}
.div2,
.div3 {
  top: 33px;
}
.div3 {
  top: 34px;
  left: 19px;
}
.div10,
.div11,
.div12,
.div13,
.div4,
.div5,
.div6,
.div7,
.div8,
.div9 {
  position: absolute;
  top: 67px;
  left: 98px;
  display: inline-block;
  width: 46px;
  height: 27px;
}
.div10,
.div11,
.div12,
.div13,
.div5,
.div6,
.div7,
.div8,
.div9 {
  top: 66px;
  left: 18px;
}
.div10,
.div11,
.div12,
.div13,
.div6,
.div7,
.div8,
.div9 {
  top: 99px;
  left: 98px;
}
.div10,
.div11,
.div12,
.div13,
.div7,
.div8,
.div9 {
  top: 98px;
  left: 18px;
}
.div10,
.div11,
.div12,
.div13,
.div8,
.div9 {
  top: 134px;
  left: 95px;
  width: 51px;
}
.div10,
.div11,
.div12,
.div13,
.div9 {
  top: 133px;
  left: 17px;
  width: 46px;
}
.div10,
.div11,
.div12,
.div13 {
  top: 168px;
  left: 94px;
  width: 51px;
}
.div11,
.div12,
.div13 {
  top: 167px;
  left: 17px;
  width: 46px;
}
.div12,
.div13 {
  top: 202px;
  left: 95px;
  width: 53px;
}
.div13 {
  left: 17px;
  width: 54px;
}
.div14,
.div15,
.div16,
.div17,
.div18,
.div19,
.div20,
.div21 {
  position: absolute;
  top: 235px;
  left: 95px;
  display: inline-block;
  width: 53px;
  height: 27px;
}
.div15,
.div16,
.div17,
.div18,
.div19,
.div20,
.div21 {
  top: 236px;
  left: 17px;
  width: 54px;
}
.div16,
.div17,
.div18,
.div19,
.div20,
.div21 {
  top: 268px;
  left: 98px;
}
.div17,
.div18,
.div19,
.div20,
.div21 {
  top: 269px;
  left: 15px;
  width: 50px;
}
.div18,
.div19,
.div20,
.div21 {
  top: 303px;
  left: 98px;
  width: 54px;
}
.div19,
.div20,
.div21 {
  left: 16px;
  width: 59px;
}
.div20,
.div21 {
  top: 339px;
  left: 91px;
  width: 67px;
}
.div21 {
  left: 12px;
}
.div22,
.div23,
.div24,
.div25,
.div26,
.div27,
.div28,
.div29,
.div30 {
  position: absolute;
  top: 372px;
  left: 88px;
  display: inline-block;
  width: 67px;
  height: 27px;
}
.div23,
.div24,
.div25,
.div26,
.div27,
.div28,
.div29,
.div30 {
  left: 10px;
  width: 60px;
}
.div24,
.div25,
.div26,
.div27,
.div28,
.div29,
.div30 {
  top: 406px;
  left: 91px;
  width: 67px;
}
.div25,
.div26,
.div27,
.div28,
.div29,
.div30 {
  left: 15px;
}
.div26,
.div27,
.div28,
.div29,
.div30 {
  top: 439px;
  left: 91px;
}
.div27,
.div28,
.div29,
.div30 {
  top: 473px;
}
.div28,
.div29,
.div30 {
  left: 15px;
}
.div29,
.div30 {
  top: 507px;
  left: 92px;
}
.div30 {
  left: 16px;
}
.div31,
.div32,
.div33,
.div34,
.div35,
.div36,
.div37,
.div38,
.div39 {
  position: absolute;
  top: 541px;
  left: 89px;
  display: inline-block;
  width: 67px;
  height: 27px;
}
.div32,
.div33,
.div34,
.div35,
.div36,
.div37,
.div38,
.div39 {
  left: 13px;
}
.div33,
.div34,
.div35,
.div36,
.div37,
.div38,
.div39 {
  top: 575px;
  left: 89px;
}
.div34,
.div35,
.div36,
.div37,
.div38,
.div39 {
  left: 13px;
}
.div35,
.div36,
.div37,
.div38,
.div39 {
  top: 607px;
  left: 89px;
}
.div36,
.div37,
.div38,
.div39 {
  left: 13px;
}
.div37,
.div38,
.div39 {
  top: 639px;
  left: 89px;
}
.div38,
.div39 {
  left: 13px;
  width: 67px;
}
.div39 {
  top: 440px;
  width: 67px;
}
.groupDiv2,
.rectangleDiv47 {
  position: absolute;
  top: 222px;
  width: 160px;
}
.groupDiv2 {
  left: 23px;
  height: 675px;
  color: #fff;
}
.rectangleDiv47 {
  left: 183px;
  background-color: rgba(43, 42, 42, 0.74);
  height: 642px;
}
.div40,
.groupDiv40,
.rectangleDiv48 {
  position: absolute;
  width: 80px;
  height: 34px;
}
.rectangleDiv48 {
  top: 863px;
  left: 183px;
  background-color: rgba(43, 42, 42, 0.74);
}
.div40,
.groupDiv40 {
  top: 641px;
  left: 0;
}
.div40 {
  top: 1px;
  left: 14px;
  display: inline-block;
  width: 61px;
  height: 27px;
}
.div41,
.div42,
.div43,
.div44,
.div45,
.div46,
.div47,
.div49 {
  position: absolute;
  top: 2px;
  left: 91px;
  display: inline-block;
  width: 62px;
  height: 27px;
}
.div42,
.div43,
.div44,
.div45,
.div46,
.div47,
.div49 {
  top: 34px;
  left: 92px;
}
.div43,
.div44,
.div45,
.div46,
.div47,
.div49 {
  left: 14px;
  width: 61px;
}
.div44,
.div45,
.div46,
.div47,
.div49 {
  top: 67px;
  left: 92px;
  width: 56px;
}
.div45,
.div46,
.div47,
.div49 {
  top: 66px;
  left: 12px;
  width: 68px;
}
.div46,
.div47,
.div49 {
  top: 99px;
  left: 92px;
  width: 62px;
}
.div47,
.div49 {
  left: 13px;
}
.div49 {
  top: 133px;
  left: 14px;
  width: 63px;
}
.div50,
.div51,
.div52,
.div53,
.div54,
.div55,
.div56,
.div57 {
  position: absolute;
  top: 168px;
  left: 92px;
  display: inline-block;
  width: 60px;
  height: 27px;
}
.div51,
.div52,
.div53,
.div54,
.div55,
.div56,
.div57 {
  top: 167px;
  left: 14px;
  width: 58px;
}
.div52,
.div53,
.div54,
.div55,
.div56,
.div57 {
  top: 202px;
  left: 95px;
  width: 62px;
}
.div53,
.div54,
.div55,
.div56,
.div57 {
  top: 203px;
  left: 15px;
  width: 58px;
}
.div54,
.div55,
.div56,
.div57 {
  top: 235px;
  left: 95px;
  width: 67px;
}
.div55,
.div56,
.div57 {
  top: 236px;
  left: 17px;
  width: 67px;
}
.div56,
.div57 {
  top: 268px;
  left: 98px;
  width: 67px;
}
.div57 {
  top: 269px;
  left: 15px;
  width: 67px;
}
.groupDiv23 {
  position: absolute;
  top: 222px;
  left: 183px;
  width: 160px;
  height: 675px;
  color: #fff;
}
.noOfQuesAttempted01,
.noOfQuesLeft79 {
  position: absolute;
  top: 952px;
  left: 88px;
  font-size: 20px;
  display: inline-block;
  width: 270px;
  height: 27px;
}
.noOfQuesLeft79 {
  left: 410px;
  width: 184px;
}
.desktop9 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 24px;
  color: #000;
  font-family: Alata;
}
